<div class="center jumbotron">
  <h1>Home</h1>
  <p>Bem vindo ao Amostra</p>
  <%= link_to "Inscreva-se agora", "#", class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.svg", alt: "Rails logo", width: "100"), 
                        "https://rubyonrails.org/" %> <br>
<%#= link_to image_tag('gatinho.jpeg', alt: "Um gatinho deitado", width: "500"),
                      "https://www.pexels.com/pt-br/foto/gatinho-deitado-na-superficie-416160/" %>