<%= provide(:title, "Users") %>
<h1>Usuários</h1>
<p>Aqui você encontra uma lista com todos os usuários cadastrados no sistema</p>

<div class="flickr_pagination">
  <%= will_paginate %>

  <ul class="users">
    <%= render @users %>
  </ul>
</div>